amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
boto3==1.40.64
celery==5.6.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==47.0.0
Django==6.0.3
django-cors-headers==4.9.0
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
idna==3.13
kombu==5.6.2
phonenumbers==9.0.29
psycopg2-binary==2.9.11
pydantic==2.13.3
pydantic_core==2.46.3
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==7.4.0
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
vonage==4.8.0
vonage-account==1.1.2
vonage-application==2.0.2
vonage-http-client==1.5.2
vonage-identity-insights==1.0.0
vonage-jwt==1.1.5
vonage-messages==1.7.0
vonage-network-auth==1.0.2
vonage-network-number-verification==1.0.2
vonage-network-sim-swap==1.1.2
vonage-number-insight==1.0.7
vonage-numbers==1.0.5
vonage-sms==1.2.0
vonage-subaccounts==1.0.4
vonage-users==1.2.2
vonage-utils==1.1.4
vonage-verify==2.2.0
vonage-verify-legacy==1.1.0
vonage-video==1.5.1
vonage-voice==1.5.0
